<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite">

      <test  thread-count="5"  name="Login Validations">
        <classes>
            <class name="org.Test.LoginPageErrorValidation">
                <methods>
                    <include name="UserPassValidation"/>
                    <include name="PasswordFieldValidation"/>
                </methods>
            </class>
        </classes>
        </test>

    <test thread-count="5" name="LoginPage">
        <classes>
            <class name="org.Test.LoginPage">
                <methods>
                    <include name ="newOrder"/>
                </methods>
            </class>
        </classes>
    </test>
</suite>